.Game {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #333;
}

.Instructions {
  text-align: left;
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 400px;
}

.Instructions h4 {
  text-align: center;
}
.Instructions h3 {
  text-align: center;
}
.Instructions .close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}


.PlaySpace {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #777;
}

.Balance {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 100%;
  color: #DDD;
  font-size: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
